<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Deletar costumer</td><td>DelAccountTest.executar_login_valido()[pri:1, instance:org.br.curso.tests.DelAccountTest@3f197a46]<br/></td></tr>
</table>
