<h2>Reporter output</h2><table><tr><td><img src="file://target\snapshots\25_03_2020\16_51_43\executar_login_valido\165226426_Pagina de login foi encontrada..png" alt=""/></td></tr>
<tr><td><img src="file://C:\Users\MATEUS~1\AppData\Local\Temp\screenshot5028004204572991356.png" alt=""/></td></tr>
<tr><td><img src="file://target\snapshots\25_03_2020\16_51_43\executar_login_valido\165228644_Campos da pginda de login preenchidos.png" alt=""/></td></tr>
<tr><td><img src="file://C:\Users\MATEUS~1\AppData\Local\Temp\screenshot897034543775363209.png" alt=""/></td></tr>
<tr><td><img src="file://target\snapshots\25_03_2020\16_51_43\executar_login_valido\165242954_Pagina inicial foi encontrada..png" alt=""/></td></tr>
<tr><td><img src="file://C:\Users\MATEUS~1\AppData\Local\Temp\screenshot5237411028150467892.png" alt=""/></td></tr>
<tr><td><img src="file://target\snapshots\25_03_2020\16_51_43\executar_login_valido\165253288_Clicando no boto Add..png" alt=""/></td></tr>
<tr><td><img src="file://C:\Users\MATEUS~1\AppData\Local\Temp\screenshot4355691315334128302.png" alt=""/></td></tr>
<tr><td><img src="file://target\snapshots\25_03_2020\16_51_43\executar_login_valido\165302552_Pagina de Customers Management foi encontrada..png" alt=""/></td></tr>
<tr><td><img src="file://C:\Users\MATEUS~1\AppData\Local\Temp\screenshot601380530299598153.png" alt=""/></td></tr>
<tr><td><img src="file://target\snapshots\25_03_2020\16_51_43\executar_login_valido\165307698_Formulário preenchido.png" alt=""/></td></tr>
<tr><td><img src="file://C:\Users\MATEUS~1\AppData\Local\Temp\screenshot959409372411771580.png" alt=""/></td></tr>
<tr><td><img src="file://target\snapshots\25_03_2020\16_51_43\executar_login_valido\165314186_Deu tudo certo..png" alt=""/></td></tr>
<tr><td><img src="file://C:\Users\MATEUS~1\AppData\Local\Temp\screenshot764001381025587696.png" alt=""/></td></tr>
</table>